<ion-view  hide-back-button="true" style="background: #1b5a83" >

    <ion-content  ng-controller="LoginController" has-header="true" padding="true">
        
        <div class="list list-inset"  style="background: #1b5a83">
             <span class="button button-block button-assertive "  > Warranty Made easy </span>
            <div class="item item-image" style="border:none;margin-top:20px;background: #1b5a83">
                <img src="img/logo.jpg"/>
            </div>

            <button class="button button-block button-light " ng-click="facebookLogin()" type="submit">
                <i class="icon ion-social-facebook"></i>
                &nbsp;Login with Facebook
            </button>


        </div>

    </ion-content>

</ion-view>