<ion-view view-title="Profile" ng-init="init()">
  <ion-content  >
   <div class="list card">

  <div class="item item-avatar">
    <img ng-src="{{profileData.picture.data.url}}">
    <h2>{{profileData.name}}</h2>
    <p><i class="icon ion-male"> </i>
    {{profileData.gender}}</p>
    <p><i class="icon ion-email"> </i>
    sharathkumarmn@gmail.com</p>
  </div>

  <div class="item item-body item-text-right">
    <p>
     <b> Address  </b>         6th Main, Kormangala, Bangalore
     </p>
     <p>
    <b> Pincode</b> 570017
    </p>

    <p>
    <b> Mamber Since</b> Jan 2012
    </p>
     
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
   
    <a class="tab-item" href="#">
      <i class="icon ion-chatbox"></i>
      Comment
    </a>
    <a class="tab-item" ng-click="share()">
      <i class="icon ion-share"></i>
      Share
    </a>
  </div>

</div>
  </ion-content>
</ion-view>
