<ion-view view-title="Service Request">
  <ion-content>
    <div class="list">

  <a class="item item-icon-left" href="#">
    <i class="icon icon-ticket"></i>
    SR-HYUOL1
    <span class="badge badge-assertive">0</span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon icon-ticket"></i>
    SR-KOLGT9
    <span class="badge badge-assertive">5</span>
  </a>

   <a class="item item-icon-left" href="#">
    <i class="icon icon-ticket"></i>
    SR-UYUIOO
    <span class="badge badge-assertive">1</span>
  </a>

  <a class="item item-icon-left" href="#">
    <i class="icon icon-ticket"></i>
    SR-HYJI456
    <span class="badge badge-assertive">3</span>
  </a>

</div>
  </ion-content>
</ion-view>
