@font-face {
    font-family: 'fontawesome';
    src:url('../fonts/fontawesome-webfont.eot');
    src:url('../fonts/fontawesome-webfont.eot') format('embedded-opentype'),
        url('../fonts/fontawesome-webfont.woff') format('woff'),
        url('../fonts/fontawesome-webfont.ttf') format('truetype'),
        url('../fonts/fontawesome-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Empty. Add your own CSS if you like */
.icon-google-wallet:before {
    font-family: "fontawesome";
    content: "\f1ee";
}

.icon-male:before {
    font-family: "fontawesome";
    content: "\f183";
}

 

.icon-tv:before {
    font-family: "fontawesome";
    content: "\f26c";
}

.imagesize{
	max-width: 100px;
	display: block;
    margin-left: auto;
    margin-right: auto
}

/* Empty. Add your own CSS if you like */

body{
	cursor: url('http://ionicframework.com/img/finger.png');
}

.star>.item-content{
background-color: #EEE8D6;
}

.splash{
	background: url(../img/logo.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

}

.branding{
	width: 50%;
	margin: 0 auto;
	margin-top: 50px;
	max-width: 300px;
	text-align: center;
}

.tagline{
	font-size: 1.4rem;
	text-align: center;
}

.branding p{
margin-top: 10px;
font-size: 1rem;
}

.item-divider{
	background-color: #EEE8D6;
}

.bar-positive, .tabs-positive>.tabs{
	background-color: #417D9A !important;
	border-color: #417D9A;
}

.item-thumbnail-left img{
	border-radius: 10px;
}

.item h3{
	font-size: 1.2rem;
	font-weight: bold;
	color:#417D9A;
}

.dayhighlight{
	background-color: #9EC6DE;
	border-top: 10px solid #417D9A;
}

div h2{
	font-size: 1.2rem;
	font-weight: bolder;
	color:#417D9A;
}
